#college_hall {
	background-color: #303030;
	border-width: 5px;
	border-color: black;
	border-style: solid;
	margin: 15px;
	border-radius: 15px;
	padding: 10px;
}
#mery_berry {
	background-color: #303030;
	border-width: 5px;
	border-color: black;
	border-style: solid;
	margin: 15px;
	border-radius: 15px;
	padding: 10px;
}
#millies {
	background-color: #303030;
	border-width: 5px;
	border-color: black;
	border-style: solid;
	margin: 15px;
	border-radius: 15px;
	padding: 10px;
}
#cowles_gym {
	background-color: #303030;
	border-width: 5px;
	border-color: black;
	border-style: solid;
	margin: 15px;
	border-radius: 15px;
	padding: 10px;	
}